<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'gameApp/gameAppcss.css' %}">
<body>
{% if user.is_authenticated %}

<h1>{{user.get_username}}</h1>
<br>
<h2><a href="{% url 'logout' %}">Click here to logout</a></h2>

<br>
<h1>Hello:{{user.get_username}}</h1>

<br>
{% if userGame %}
    {% for x in userGame %}
    {{x.name}}<br>
    {{x.developer}}<br>
    {{x.dateMade}}<br>
    {{x.ageLimit}}<br>
    <br>
<a href="{% url 'editGame' x.id %}">Edit Game</a>
<br>
<a href="{% url 'deleteGame' x.id %}">Delete Game</a>
<br>
    <hr>
    {% endfor %}
<a href="{% url 'addGame' %}">Add a new game</a>
{% else %}
No games available
<br>
<h2>Would you like to add a Game to the Game universe?</h2>
<br>
<h3>click <a href="{% url 'addGame' %}">here</a></h3>
{% endif %}



{% else %}
<div class="loginlogout">
<h1>Welcome To The Gamer Lagoon</h1>
    <br>
    <img src="{% static 'gameApp/pic.jpg' %}" height="600px" width="600px" alt="">
    <br>
    <a href ="{% url 'login' %}">Click here to login</a>
<br>

<a href="{% url 'createAccount' %}">Click here to create an account</a>
{% endif %}
</div>
</body>
</html>