<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% if user.is_authenticated %}
Hello:{{user.get_username}}

{% if userGame %}
    {% for x in userGame %}
    {{x.name}}<br>
    {{x.developer}}<br>
    {{x.dateMade}}<br>
    {{x.ageLimit}}<br>
    <br>
    Edit Game<br>
    Delete Game<br>
    <hr>
    {% endfor %}
{% else %}
No games available
{% endif %}



{% else %}
Welcome
<a href ="{% url 'login' %}">Click here to login</a>
<a href="{% url 'createAccount' %}">Click here to create an account</a>
{% endif %}
</body>
</html>